# Ignore virtual environment
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE settings
.vscode/
.idea/

# Environment variables
.env